# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create a table of commonly used Data Science Tools
- Provide examples of evaluating arithmetic experessions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit

Data Science Tools|
-
MySQL|
GitHub|
Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [2]:
200/60

3.3333333333333335

## Author
Jaron Holden